.daisy-header {
  width: 100%;
  margin: 0;
  position: fixed;
  z-index: 100;
  background: #fff;
}

.-container {
  position: relative;
  max-width: 960px;
  margin: 0 auto;
  padding: 0 10px;
}

@media (min-width: 720px) {
  .home-container {
      padding-left: 15px;
      padding-right: 30px;
  }
}

.daisy-header .navbar-container {
  padding: 15 60px;
}

.home-nav {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  min-height: 48px;
  margin: 0 100px;
  font-size: -webkit-xxx-large;
}

.home-nav .-title {
  font-size: 14.2rem;
  margin-right: 100px;
  font-size: -webkit-xxx-large;
}

.home-nav ul{
  list-style: none;

}

.home-nav a {
  font-size: 0.875rem;
  margin-right: 10px;
  color: #e142b6;
  text-decoration: none;
  font-size: -webkit-xxx-large;

}

.hwls-homepage{
  text-align: center;
}
.dipi{
  display: flex;
  justify-content: space-between;
  width: 60%;
  margin: auto;
}